@font-face {
    font-family: 'w1';
    src: url(../assets/fonts/w1.woff2);
}


@font-face {
    font-family: 'w2';
    src: url(../assets/fonts/w2.woff2);
}

@font-face {
    font-family: 'w3';
    src: url(../assets/fonts/w3.woff2);
}